footer.footer
  .footer__conteiner.container
    .footer__inner.inner
      a.footer__logo(href="#top")
        img.footer__logo-img(src="./img/logo-long.png", alt="logo")
        p Все права защищены 2021
      .footer__widgets-box.footer__widgets-box_warning
        .footer__warning Биологически активная добавка<br>Не является лекарственным средством!
      .footer__widgets-box.footer__widgets-box_button
        a.footer__button.button.button_green.js_popup-link(href="#popup-feedback")  Бесплатная консультация
        a.footer__createdby(href="#")  Разработка Tip-Top Agency