header.header.js_lock-padding
  .header__container.container
    .header__inner.inner
      //#top
      a.header__logo(href="#top") 
        img.header__logo-img(src="./img/logo.png", alt="logo")
      .header__lang
        select#header__lang-select.header__lang-select.selecter(name="select")
          option(value="RU")
          option(value="KZ")
          option(value="EN")
      nav.header__nav
        ul.header__nav-list
          - var links = [['#composition', 'Состав'], ['#reviews', 'Отзывы'], ['#faq', 'Вопросы—ответы'], ['#address', 'Контакты']]
          each val, index in links
            li
              a(href = val[0])= val[1]
      .header__widgets
        a.header__whatsapp(href="https://wa.me/380951580858")  + 380 95 158 0858
        a.header__button.button.js_popup-link(href="#popup-feedback") Заказать комплекс
        .header__burger.burger
          .burger__button-wrapper
            .burger__button
              .burger__button-el.burger__button-el_top
              .burger__button-el.burger__button-el_middle
              .burger__button-el.burger__button-el_bottom
          .burger__body
            .burger__container.container
              .burger__inner.inner
                nav.burger__nav
                  ul.burger__nav-list
                    - var links = [['#composition', 'Состав'], ['#reviews', 'Отзывы'], ['#faq', 'Вопросы—ответы'], ['#address', 'Контакты']]
                    each val, index in links
                      li
                        a.js_closer(href = val[0])= val[1]
                a.burger__logo.js_closer(href="#top") 
                  img.burger__logo-img(src="./img/logo.png", alt="logo")
                .burger__widgets
                  a.burger__whatsapp(href="https://wa.me/380951580858")  + 380 95 158 0858
                  a.burger__btn.button.button_long.js_closer.js_popup-link(href="#popup-feedback") Заказать комплекс
                  .burger__lang
                    select#header__lang-select.burger__lang-select.selecter(name="select")
                      option(value="RU")
                      option(value="KZ")
                      option(value="EN")