//popup-composition
.popup__body
  .popup__content
    a.popup__close(href="#")
    .popup__title.title
      h3 Коллаген морской (пептид)
    .popup__text.
      Коллаген — это белок, который входит в состав всех тканей человеческого организма. Он отвечает не только за красоту и молодость, но также за «строительство» суставов, сухожилий, волос, ногтей и кожи. Именно он делает ткани человеческого организма прочными и упругими .Коллаген образует стенки вен, артерий и капилляров. Самое известное свойство коллагена — делать кожу гладкой, повышать ее защитные свойства и существенно замедлять появление морщин. Его волокна - «скелет» нашей кожи, от которого зависит ее упругость, эластичность и прочность. Коллаген составляет примерно 80% нашей кожи, но с возрастом его выработка естественным образом сокращается. Уже с 20 лет мы начинаем терять около 1,5% нашего коллагена в год. Это приводит к старению кожных покровов, их сухости, появлению морщин, ухудшению состояния волос и ногтей, снижению гибкости суставов, ломкости костей. Дополнительное поступление коллагена в организм способствует удержанию влаги в глубоких слоях кожи, восстанавливает ее тонус и молодость, поддерживает двигательную активность, а также здоровое состояние связок и суставов. 
      <br>Морской пептидный коллаген имеет более выраженный эффект на человеческий организм и низкоаллергенен. Благодаря его уникальной совместимости с нашим организмом морской коллаген активно используется в медицине для восстановлении и регенерации тканей. Коллаген состоит из девятнадцати аминокислот и является богатым источником глицина, пролина, аланина и гидроксипролина. 
      <br>
      <br>Вот почему так важно подобрать правильный коллагенный комплекс для поддержания баланса и тонуса нашей кожи.
