//popup-reviews
////src и заголовок тянутся из ссылающегося слайда
.popup__body
  .popup__content.slider-item
    .slider-item__place
      a.popup__close(href="#")
      .slider-item__inner
        .slider-item__border 
        .slider-item__photo
          img(src="", alt="commentator")
        .slider-item__main-info 
          .slider-item__main
          .slider-item__main
          .slider-item__main
        .slider-item__comment.
          Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
          <br>Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
          <br>Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...