section.action-section
  .drops
  .action-section__gens
    .action-section__gen(style='--opacity: 0.15; --width: 238.49px; --height: 121.7px; --rotate: -122.03deg; --top: 29.35%; --left: 0.67%')
    .action-section__gen(style='--opacity: 0.1; --width: 208px; --height: 93px; --rotate: 107deg; --top: 12%; --left: 10%')
    .action-section__gen(style='--opacity: 0.05; --width: 300px; --height: 150px; --rotate: 119deg; --top: 5%; --left: 45%')
    .action-section__gen(style='--opacity: 0.3; --width: 190px; --height: 100px; --rotate: 131deg; --top: 29%; --left: 74%')
    .action-section__gen(style='--opacity: 0.1; --width: 210px; --height: 120px; --rotate: 110deg; --top: 79%; --left: 70%')
    .action-section__gen(style='--opacity: 0.1; --width: 210px; --height: 120px; --rotate: 120deg; --top: 84%; --left: 27%')
  .action-section__container.container
    .action-section__inner.inner
      .action-section__title.title
        h2._an-i._nra._an-up Действие комплекса 
      .action-section__bouble
        .action-section__main-title
          img(src="./img/main-title.svg", alt="marine juvena collagen peptides")
        a.action-section__button.button.js_popup-link(href="#popup-feedback" style='--delay: .41s') Заказать комплекс
        .action-section__el(style='--delay: .0s')
          .action-section__icon
            img(src="./img/skin.jpg", alt="icon")
          .action-section__note Активно борется со старением кожи, сухостью и обезвоживанием
        .action-section__el(style='--delay: .32s')
          .action-section__icon
            img(src="./img/dnk.jpg", alt="icon")
          .action-section__note Способствует выработке собственного коллагена
        .action-section__el(style='--delay: .54s')
          .action-section__icon
            img(src="./img/bones.jpg", alt="icon")
          .action-section__note Укрепляет кости, хрящи, сосуды
        .action-section__el(style='--delay: .13s')
          .action-section__icon
            img(src="./img/health.jpg", alt="icon")
          .action-section__note Придаёт здоровый и сияющий вид
        .action-section__el(style='--delay: .25s')
          .action-section__icon
            img(src="./img/skin-protection.jpg", alt="icon")
          .action-section__note Насыщает кожу необходимыми полезными элементами