section.action-section
  .drops
  .action-section__container.container
    .action-section__inner.inner
      .action-section__title.title
        h2._an-i._nra._an-up Действие комплекса 
      .action-section__bouble
        .action-section__main-title
          img(src="./img/main-title.svg", alt="marine juvena collagen peptides")
        .action-section__button.button(style='--delay: .41s') Заказать комплекс
        .action-section__el(style='--left: -63%; --top: 9%; --delay: .0s')
          .action-section__icon
            img(src="./img/skin.jpg", alt="icon")
          .action-section__note Активно борется со старением кожи, сухостью и обезвоживанием
        .action-section__el(style='--left: 51%; --top: -1%; --delay: .32s')
          .action-section__icon
            img(src="./img/dnk.jpg", alt="icon")
          .action-section__note Способствует выработке собственного коллагена
        .action-section__el(style='--left: 85%; --top: 40%; --delay: .54s')
          .action-section__icon
            img(src="./img/bones.jpg", alt="icon")
          .action-section__note Укрепляет кости, хрящи, сосуды
        .action-section__el(style='--left: 7%; --top: 90%; --delay: .13s')
          .action-section__icon
            img(src="./img/health.jpg", alt="icon")
          .action-section__note Придаёт здоровый и сияющий вид
        .action-section__el(style='--left: -68%; --top: 63%; --delay: .25s')
          .action-section__icon
            img(src="./img/skin-protection.jpg", alt="icon")
          .action-section__note Насыщает кожу необходимыми полезными элементами