section.address-section
  .address-section__container.container
    .address-section__inner.inner
      .address-section__title.title
        h2._an-i._nra._an-up Контакты
      .address-section__box
        .address-section__map-wrapper
          .address-section__stain.stain
            img(src="./img/stain.png", alt="stain")
          .address-section__stain.address-section__stain_2.stain
            img(src="./img/stain.png", alt="stain")
          .address-section__map
            <iframe src="https://snazzymaps.com/embed/294453" width="100%" height="464px" style="border:none;"></iframe>
            .address-section__map-info
              a.address-section__text.address-section__text_phone(href="tel: +380951580858")  + 380 95 158 0858
              a.address-section__text.address-section__text_insta(href="https://www.instagram.com/juvena_marinecollagen/")  @juvena_marinecollagen
              p.address-section__text.address-section__text_address г. Алматы, ул. Макатаева, 127/1
        .address-section__form.form.form_vertical.js_form-to-email
          .form__header.title.title_m
            h2._an-i._nra._an-up Остались вопросы?
          .form__subtitle Оставьте свои контакты, и мы свяжемся с вами для консультации
          .form__body
            input.form__utm.js_source(type="text" name='utm-source')
            input.form__utm.js_medium(type="text" name='utm-medium')
            input.form__utm.js_campaign(type="text" name='utm-campaign')
            input.form__locker.js_locker(type="text")
            .form__input.form__input_name.input
              input.input__body.js_req(type="text" name='name' placeholder = ' ')
              .input__placeholder Имя*
            .form__input.form__input_phone.input
              input.input__body.js_req(type="text" name='telephone' placeholder = ' ')
              .input__placeholder Телефон*
            button.form__button.button Заказать комплекс