section.belt-section
  .belt-section__container.container
    .belt-section__inner.inner
      .belt-section__product
        img(src="./img/product-belt.png", alt="product")
      form.belt-section__feedback.form.form_belt.js_form-to-email
        .form__header.title.title_less
          h2._an-i._nra._an-up <p>Скидка 10 %</p> при использовании <br>промокода <p>Juvena1</p> на перый заказ
        .form__body
          input.form__utm.js_source(type="text" name='utm-source')
          input.form__utm.js_medium(type="text" name='utm-medium')
          input.form__utm.js_campaign(type="text" name='utm-campaign')
          input.form__locker.js_locker(type="text")
          .form__input.form__input_name.input
            input.input__body.js_req(type="text" name='name' placeholder = ' ')
            .input__placeholder Имя*
          .form__input.form__input_phone.input
            input.input__body.js_req(type="text" name='telephone' placeholder = ' ')
            .input__placeholder Телефон*
          button.form__button.button Заказать комплекс