section.composition-section
  .drops
  .composition-section__container.container
    .composition-section__inner.inner
      .composition-section__title.title.title_c
        h2._an-i._nra._an-up Секрет комплекса - в его уникальном составе
      p.composition-section__subtitle._an-i._nra._an-up Основу Juvena Marina составляют пептиды морского коллагена, гиалуроновая кислота и натуральный витамин С из экстракта ацеролы.<p class='_an-i _nra _an-up'>Безопасно и натурально</p>
      .composition-section__composition 
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__component
          .composition-section__name Гиалуроновая кислота - 80 мг
          .composition-section__desctiption Один из основных компонентов внутриклеточного матрикса, который участвует в процессах регенерации кожи.
          a.composition-section__link(href="#") Подробнее
        .composition-section__product
          .composition-section__ghost(style = '--d: 0s; left: 31%; top: 7%')
          .composition-section__ghost(style = '--d: -1.4s; left: 53%; top: 21%')
          .composition-section__ghost(style = '--d: -3.3s; left: 52%; top: 50%')
          .composition-section__ghost(style = '--d: -5.7s; left: 20%; top: 25%')
          .composition-section__ghost(style = '--d: -9.1s; left: 21%; top: 48%')
          img(src="./img/product.png", alt="product")