section#faq.faq-section
  .faq-section__container.container
    .faq-section__inner.inner
      .faq-section__title.title
        h2._an-i._nra._an-up Вопросы <p></p> Ответы
      .faq-section__tabs.tabs.tabs_spoiler
        .tabs__tab Как принимать Juvena Marine Collagen? 
          .tabs__tab-btn
        .tabs__item-body
          .tabs__item-text <p>Рекомендованный курс приема:</p> 8 недель.<br><br><p>Ежедневневная дозировка:</p> 2 раза в день по 2 капсулы за 30 минут до еды.

        .tabs__tab Какая рекомендованная продолжительность курса приема и ежедневная дозировка?
          .tabs__tab-btn
        .tabs__item-body
          .tabs__item-text <p>Рекомендованный курс приема:</p> 8 недель.<br><br><p>Ежедневневная дозировка:</p> 2 раза в день по 2 капсулы за 30 минут до еды.

        .tabs__tab Можно ли принимать во время беременности и кормления? 
          .tabs__tab-btn
        .tabs__item-body
          .tabs__item-text <p>Рекомендованный курс приема:</p> 8 недель.<br><br><p>Ежедневневная дозировка:</p> 2 раза в день по 2 капсулы за 30 минут до еды.

        .tabs__tab Сочетается ли препарат с другими продуктами?
          .tabs__tab-btn
        .tabs__item-body
          .tabs__item-text <p>Рекомендованный курс приема:</p> 8 недель.<br><br><p>Ежедневневная дозировка:</p> 2 раза в день по 2 капсулы за 30 минут до еды.

        .tabs__tab Как понять, что мне пора принимать коллаген?
          .tabs__tab-btn
        .tabs__item-body
          .tabs__item-text <p>Рекомендованный курс приема:</p> 8 недель.<br><br><p>Ежедневневная дозировка:</p> 2 раза в день по 2 капсулы за 30 минут до еды.