section.insta-section
  .insta-section__container.container
    .insta-section__inner.inner
      .insta-section__title.title
        h2._an-i._nra._an-up Мы в Instagram
      .insta-section__insta
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-5fc61fcd-8cd7-48b3-b148-3560b13fffd6"></div>