section#reviews.reviews-section
  .drops
  .reviews-section__gens
    .reviews-section__gen(style='--opacity: 0.15; --width: 239px; --height: 122px; --rotate: -99deg; --top: 60%; --left: 6%')
    .reviews-section__gen(style='--opacity: 0.3; --width: 193px; --height: 98px; --rotate: -66deg; --top: 47%; --left: 78%')
    .reviews-section__gen(style='--opacity: 0.1; --width: 297px; --height: 152px; --rotate: -63deg; --top: 92%; --left: 36%')
  .reviews-section__container.container
    .reviews-section__inner.inner
      .reviews-section__title.title
        h2._an-i._nra._an-up Отзывы покупателей
      .reviews-section__slider.slider
          .slider__wrapper.swiper-wrapper
            // коды для .slider-item__main https://unicode.org/emoji/charts/full-emoji-list.html
            .swiper-slide.slider__item.slider-item
              .slider-item__place
                .slider-item__inner
                  .slider-item__border 
                  .slider-item__photo
                    img(src="./img/commentator1.jpg", alt="commentator")
                  .slider-item__main-info 
                    .slider-item__main Валерия,
                    .slider-item__main 🇺🇦	
                    .slider-item__main Киев
                  .slider-item__comment Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
                  a.slider-item__link.js_popup-link(href="#popup-person1") Читать полный отзыв
                .slider__navigation-box
                  .slider__button.slider__button_prev
                    div
                  .slider__button.slider__button_next
                    div
            .swiper-slide.slider__item.slider-item
              .slider-item__place
                .slider-item__inner
                  .slider-item__border 
                  .slider-item__photo
                    img(src="./img/commentator1.jpg", alt="commentator")
                  .slider-item__main-info 
                    .slider-item__main Валерия,
                    .slider-item__main 🇺🇦	
                    .slider-item__main Киев
                  .slider-item__comment Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
                  a.slider-item__link.js_popup-link(href="#popup-person2") Читать полный отзыв
                .slider__navigation-box
                  .slider__button.slider__button_prev
                    div
                  .slider__button.slider__button_next
                    div
            .swiper-slide.slider__item.slider-item
              .slider-item__place
                .slider-item__inner
                  .slider-item__border 
                  .slider-item__photo
                    img(src="./img/commentator1.jpg", alt="commentator")
                  .slider-item__main-info 
                    .slider-item__main Валерия,
                    .slider-item__main 🇺🇦	
                    .slider-item__main Киев
                  .slider-item__comment Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
                  a.slider-item__link.js_popup-link(href="#popup-person3") Читать полный отзыв
                .slider__navigation-box
                  .slider__button.slider__button_prev
                    div
                  .slider__button.slider__button_next
                    div
            .swiper-slide.slider__item.slider-item
              .slider-item__place
                .slider-item__inner
                  .slider-item__border 
                  .slider-item__photo
                    img(src="./img/commentator1.jpg", alt="commentator")
                  .slider-item__main-info 
                    .slider-item__main Валерия,
                    .slider-item__main 🇺🇦	
                    .slider-item__main Киев
                  .slider-item__comment Кожа, конечно, не как попка младенца, но ОЧЕНЬ красивая! Будто наполнилась изнутри. И на тренировках заметила, что перестали болеть и скрипеть суставы...
                  a.slider-item__link.js_popup-link(href="#popup-person4") Читать полный отзыв
                .slider__navigation-box
                  .slider__button.slider__button_prev
                    div
                  .slider__button.slider__button_next
                    div
      .reviews-section__main-comment-wrapper
        .reviews-section__title.reviews-section__title_comment.title
          h2._an-i._nra._an-up Комментарий специалиста
        .reviews-section__main-comment Juvena Marine Collagen полностью перевернет ваше представление о коллагене!<br><br>Комплекс не маскирует проблему, а решает её, восстанавливая баланс микроэлементов и запуская необходимые процессы на самом глубоком уровне.<br>Ведь красота начинается изнутри!
        .reviews-section__main-comment-photo.js-tilt
          .reviews-section__main-comment-widget 
            .reviews-section__widget-item.reviews-section__widget-item_title(data-name='Руслана Хандусь')
            .reviews-section__widget-item.reviews-section__widget-item_subtitle(data-str1='Доктор дерматолог', data-str2='Косметолог высшей категории')
          img(src="./img/director.jpg", alt="ruslana handus")

          //- .slider__navigation-box
          //-   .slider__button.slider__button_prev
          //-     div
          //-   .slider__button.slider__button_next
          //-     div