.belt-section {
  position: relative;
  z-index: 1;
  background: radial-gradient(116.32% 119.44% at 47.35% -22.92%, #FFFFFF 0.01%, #F4F4F4 100%), #F6F5FF;
  border-bottom: 8px solid #E8E8E8;
  &__container {

  }
  &__inner {
    height: 318px;
    padding: 44px 0 72px;
    grid-template-columns: 3fr 4fr;
    grid-row-gap: 0px;
    grid-gap: 0;
    align-content: center;
    @include media-custom(1550px) {
      padding: 44px 20px 72px;
      grid-template-columns: 300px 1fr;
    }
    @include media-tablet {
      grid-template-columns: 100px 1fr;
      padding: 0 20px;
      height: auto;
    }
    @include media-mobile {
      grid-template-columns: 0 1fr;
    }
  }
  &__product {
    position: relative;
    display: flex;
    align-items: center;
    grid-column: 1/2;
    width: 100%;

    pointer-events: none;

    animation-name: fly;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    & img {
      position: absolute;
      width: 100%;
      height: 488px;
      object-fit: contain;
      object-position: center;
      transform: translateY(12px);
      @include media-tablet-horizontal {
        transform: translateY(30px);
      }
      @include media-tablet {
        transform: translateY(30px) translateX(-60px);
      }
    }
    @include media-custom(1550px) {
      width: 476px;
      justify-self: center;
      align-self: center;
    }
    @include media-tablet {
      width: 250px;
      justify-self: start;
    }
  }
  &__feedback {
    grid-column: 2/3;
    @include media-custom(1550px) {
      width: 90%;
      justify-self: center;
    }
    @include media-tablet-horizontal {
      width: 100%;
      justify-self: center;
    }
    @include media-tablet {
      position: relative;
      z-index: 1;
      opacity: 0.8;
    }
  }
}