.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 331px; height: 77px;
  padding: 10px 30px;

  background: radial-gradient(116.32% 119.44% at 47.35% -22.92%, #3784FF 0.01%, #565DFF 100%);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 500px;
  border: none;
  border-bottom: 5px solid #1238FF;

  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;

  cursor: pointer;

  &:hover {
    background: radial-gradient(116.32% 119.44% at 47.35% -22.92%, #3784FF 0.01%, #474dff 100%);
    border-bottom: 5px solid #0831ff;
  }
  .form_belt & {
    width: 358px; height: 72px;
    margin-left: 17px;
  }
}