/* footer */
.footer {
  background: rgba(0, 10, 62, 0.6);
  backdrop-filter: blur(14px);
  &__container {}
  &__inner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    padding: 60px 0 30px;
    align-items: start;
  }
  /* footer - logo */
  &__logo {
    & p {
      margin: 0;
      color: white;
    }
  }
  &__logo-img {
    width: 367px; height: 76px;
    object-fit: contain;
    object-position: center;
  }

  /* footer - widgets */
  &__widgets-box {
    &_warning {
      align-self: center;
    }
    &_button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-self: end;
    }
  }
  &__warning {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  &__createdby {
    margin-top: 11px;

    color: white;
    text-decoration: underline;
    text-underline-position: under;
  }
}