.form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  border-radius: 310px;
  padding: 32px 106px 32px 124px;
  &_belt {
    background: transparent;
    padding: 0;
  }
  &_vertical {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding: 30px 35px 48px;

    border-bottom: 15px solid #ddd;
    border-radius: 6px;
    background: radial-gradient(126.44% 131.19% at 23.28% -24.02%, #FFFFFF 0.01%, #F9FBFF 100%);
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
  &__utm, &__locker {
    display: none;
  }
  &__header {
    width: 100%;
    .form_belt &{
      color: #484848;
    }
    & h2 {
      margin: 0;
      .form_belt &{
        font-size: 35px;
      }
    }
    & p {
      display: inline-block;
      margin: 0;
      &:first-child {
        position: relative;
        left: -7px;

        padding: 4px 7px;

        background-color: #3300FF;
        color: white;
        .form_belt &{
          background-color: transparent;
          color: #00A3FF;
        }
      }
      &:last-child {
        color: #3300FF;
        .form_belt &{
          color: #00A3FF;
        }
      }
    }
  }
  &__subtitle {
    margin-top: 18px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &__body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 31px 22px;
    align-items: end;
    .form_belt &{
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
    }
    .form_vertical &{
      margin-top: 29px;
      grid-gap: 29px 0px;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
    }
  }
  &__input {
    grid-column: span 1;
    .form_belt &{
      grid-column: span 1;
    }
    .form_vertical &{
      grid-column: auto;
      grid-row: span 1;
    }
  }
  &__button {
    grid-column: span 2;
    .form_belt &{
      grid-column: span 1;
    }
    .form_vertical &{
      grid-column: auto;
      grid-row: span 1;
    }
  }
}