.input {
  position: relative;

  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  &__body {
    width: 100%;
    height: 72px;
    font-size: 18px;
    padding: 0 30px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 500px;
    outline:none;

    transition: 0.3s;
    &:focus, &:-webkit-autofill:focus {
    }
    &.js_error,
    &:-webkit-autofill:focus.js_error,
    &:-webkit-autofill.js_error,
    &:-webkit-autofill:hover.js_error {
      background-color: pink;
      -webkit-box-shadow: 0 0 0px 50px pink inset;
      & + .input__placeholder {
        color: white;
      }
    }
    &:-webkit-autofill, &:-webkit-autofill:hover {
      border-bottom: 1px solid lightgray;
    }
    &[name = "name"], &[name = "telephone"] {
      width: 360px;
      .form_belt & {
        width: 297px;
      }
    }
  }
  &__placeholder {
    display: flex;
    align-items: center;

    position: absolute;
    color: black;
    left: 30px;
    right: 30px;
    top: 50%;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;

    transform: translateY(-50%);
    transition: 0.3s;
    .input__body[name = 'name'] + &::before, .input__body[name = 'telephone'] + &::before {
      content: '';
      width: 24px; height: 24px;
      margin-right: 14px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      transition: 0.3s;
    }
    .input__body[name = "name"] + &:before { 
      background-image: url(../img/user.svg);
    }

    .input__body[name = "telephone"] + &:before { 
      background-image: url(../img/phone.svg);
    }


    .input__body:focus~&, .input__body:not(:placeholder-shown) + &, input:-webkit-autofill + & {
      transform: translateY(-140%);
      font-size: 14px;
      color: gray;
      &::before {
        transform: scale(0.7);
        margin-right: 7px;
      }
    }
    .js_error + &,
    .js_error:focus + &,
    .js_error:-webkit-autofill:focus + &,
    .js_error:-webkit-autofill + &,
    .js_error:-webkit-autofill:hover + & {
      color: white;
    }
  }
}