.title {
  & > * {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 0px;
    @include media-mobile {
      font-size: 28px;
    }
  }
  &_m {
    & > * {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 0px;
    }
  }
}