extends common/layout

block content
  main.main
    include includes/index/promo-section.pug
    include includes/index/action-section.pug
    include includes/index/composition-section.pug
    include includes/index/reviews-section.pug
    include includes/index/belt-section.pug
    .main__sea-wrapper
      include includes/index/faq-section.pug
      include includes/index/address-section.pug
      include includes/index/insta-section.pug
      include common/footer.pug
